:root {
    --cor-fundo: black;
    --cor-letras: white;
    --segunda-cor: rgb(45, 0, 62);
}
* {
    margin: 0;
    padding: 0;

}

/*user*/
nav{
    height: 500px;
    background-image: url(img/2d-vetor-de-fundo-de-paisagem-noturna-de-montanha-vetor-plano-de-ceu-azul-gerado-ai_889431-800.avif);
    background-size: cover;
    position: relative;
    border-bottom: 5px solid var(--segunda-cor);
}
.user {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container-user {
    background-color: rgba(0, 0, 0, 0.292);
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

#container-user * {
    color: var(--cor-letras);
}

.user img {
    border-radius: 50%;
    padding: 25px;
}

/*habilidades*/
.habilidade {
    padding: 5px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.674);
    border-radius: 5px;
}

.habilidade img {
    width: 150px;
    height: 100px;
}

#container-habilidades {
    display: flex;
    flex-wrap: wrap;
}
section{
    padding: 75px;
}
section h1{
    padding: 15px;
}
.nome-habilidade{
    border-bottom: 1px solid rgba(0, 0, 0, 0.427);
    
}
.habilidade a {
    text-decoration: none;
    float: right;
}