:root {
  --cor-fundo: black;
  --cor-letras: white;
  --segunda-cor: rgb(45, 0, 62);
  --titulo: "Ruwudu", serif;
  --texto: "Roboto", sans-serif;
}

/*Geral*/

* {
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  font-family: var(--titulo);
}

body {
  background-color: black;
  font-family: var(--texto);
}

nav {
  background-color: transparent;
  color: white;
}

.nav-link {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
  text-decoration: underline;
}

.logo {
  width: 100px;
  height: 100px;
}

.navbar-brand {
  color: white;
}

.contianer {
  padding: 70px 0;
}
ul {
  padding: 0;
}

p,
li,
a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

/*sidebar*/

.offcanvas {
  background-color: rgb(0, 0, 0);
}
.user {
  border-bottom: 5px solid var(--segunda-cor);
}
.nav-user {
  background-image: url(img/bg_1.jpg);
  background-size: 400px 400px;
  height: 300px;
  text-align: center;
}

.nav-user-user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-user-user p {
  padding: 15px;
  font-size: 25px;
}

.nav-user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-close {
  float: right;
}

.nav-links ul li {
  text-decoration: none;
  margin: 25px 0 25px 0;
  padding: 10px;
  position: relative;
}
.nav-links ul li:hover a {
  color: var(--segunda-cor);
}

.nav-links ul li {
  list-style: none;
}
.nav-links ul li {
  position: relative;
  text-decoration: none;
  color: #222;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.448);
}
.nav-links ul li:after {
  content: "";
  position: absolute;
  top: calc(
    100% + 0.1px
  ); /* Posiciona a barra de carregamento abaixo do link */
  left: 0;
  width: 0;
  height: 2px;
  background: var(--segunda-cor);
  display: block;
  transition: width 0.7s ease-in-out;
  transform-origin: 0% 50%;
  transform: scaleX(0); /* Inicialmente escondida */
}
.nav-links ul li:hover:after {
  width: 100%;
  transform: scaleX(1); /* Exibe a barra de carregamento */
}
.btn:first-child {
  height: 60px;
  position: fixed;
  z-index: 4;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.502);
}


.container {
  display: inline-block;
  cursor: pointer;
  color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/*user*/
.usuario {
  height: 500px;
  background-image: url(img/wallpaper.png);
  background-size: cover;
  position: relative;

  background-color: rgba(0, 0, 0, 0.292);
}

.user {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

#container-user {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#container-user * {
  color: var(--cor-letras);
}

.user img {
  border-radius: 50%;
  padding: 25px;
}

/*habilidades*/
.habilidade-box{
  border: 2px solid linear-gradient(to right, (255, 255, 255), darkorchid)1;
}
.habilidade {
  padding: 5px;
  margin: 10px;
}

#container-habilidades img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

#container-habilidades {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

section {
  padding: 75px;
}

section h1 {
  padding: 15px;
  font-size: 50px;
}

.nome-habilidade {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgb(255, 255, 255), darkorchid) 1;
}

.habilidade a {
  text-decoration: none;
  float: right;
}

/*Posts*/
/*main*/
.posts-main {
  padding-top: 50px;
}
